body {
  background-color: #FFFFFF;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1.125rem;
}

h1 {
  padding-top: 180px;
  font-size: 3.75rem;
  color: #676FA3;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
}
.p1{
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 1.5625rem;
  color: #676FA3;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color:#676FA3;
  font-size: 1.5625rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color:#676FA3;
  font-size: 1.3125rem;
}
.profile{
  line-height: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;

}
.profileimg{
  margin-top: 10px;
height:25vh;
}



.cloud1 {
  position: absolute;
  right: 16%;
  top: 8%;
  height: 25%;
}

.cloud2 {
  position: absolute;
  left: 18%;
  top: 33%;
  height: 25%;
}

.mountain {
  position: absolute;
  bottom: 0;
  left: 25%;
  align-items: baseline;
}

.top {
  background-color: #CDF0EA;
  position: relative;
  height: 100vh;
}
.skill1{
  height:25vh;
}
.skill2{
  height:25vh;
}
.middle-container {

}


.bottom-container {

}
